.profile{
    padding: 5%;
    /* padding-top: 10%; */
    background-color: #f3f7fa;
}

.timeline-header{
    position: relative;
    height:40vh;
    background-color: #024570;
}

.timeline-content{
    position: absolute;
    color:white;
    text-align: left;
    padding-right: 20%;
    bottom: 6%;
    left: 30%;
}

.timeline-body{
    background-color: white;
}

.profile-pic{
    width: 200px;
    height: auto;
    position: absolute;
    bottom:-20%;
    left:10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .profile{
        padding: 5%;
        padding-top: 20%;
        background-color: #f3f7fa;
    }
    
    .timeline-header{
        position: relative;
        height:100vh;
        background-color: #024570;
    }
    
    .timeline-content{
        position: absolute;
        color:white;
        text-align: left;
        padding-right: 12%;
        bottom: 10%;
        left: 10%;
    }
    
    .timeline-body{
        background-color: white;
    }
    
    .profile-pic{
        width: 150px;
        height: auto;
        position: absolute;
        bottom:60%;
        left:10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .profile{
        padding: 5%;
        /* padding-top: 10%; */
        background-color: #f3f7fa;
    }
    
    .timeline-header{
        position: relative;
        height:40vh;
        background-color: #024570;
    }
    
    .timeline-content{
        position: absolute;
        color:white;
        text-align: left;
        padding-right: 20%;
        bottom: 6%;
        left: 30%;
    }
    
    .timeline-body{
        background-color: white;
    }
    
    .profile-pic{
        width: 200px;
        height: auto;
        position: absolute;
        bottom:-20%;
        left:10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile{
        padding: 5%;
        padding-top: 10%;
        background-color: #f3f7fa;
    }
    
    .timeline-header{
        position: relative;
        height:60vh;
        background-color: #024570;
    }
    
    .timeline-content{
        position: absolute;
        color:white;
        text-align: left;
        padding-right: 20%;
        bottom: 2%;
        left: 30%;
    }
    
    .timeline-body{
        background-color: white;
        padding-top: 5%;
    }
    
    .profile-pic{
        width: 120px;
        height: auto;
        position: absolute;
        bottom:-10%;
        left:10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile{
        padding: 5%;
        padding-top: 8%;
        background-color: #f3f7fa;
    }
    
    .timeline-header{
        position: relative;
        height:50vh;
        background-color: #024570;
    }
    
    .timeline-content{
        position: absolute;
        color:white;
        text-align: left;
        padding-right: 20%;
        bottom: 6%;
        left: 35%;
    }
    
    .timeline-body{
        background-color: white;
        padding-top: 5%;
    }
    
    .profile-pic{
        width: 200px;
        height: auto;
        position: absolute;
        bottom:-20%;
        left:10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .profile{
        padding: 5%;
        /* padding-top: 10%; */
        background-color: #f3f7fa;
    }
    
    .timeline-header{
        position: relative;
        height:45vh;
        background-color: #024570;
    }
    
    .timeline-content{
        position: absolute;
        color:white;
        text-align: left;
        padding-right: 20%;
        bottom: 6%;
        left: 30%;
    }
    
    .timeline-body{
        background-color: white;
        padding-top: 5%;
    }
    
    .profile-pic{
        width: 200px;
        height: auto;
        position: absolute;
        bottom:-20%;
        left:10%;
    }
}