.users-table{
    padding:5%;
    background-color: #f3f7fa;
}

.users-table-header{
    /* margin-top: 5%; */
    background-color: #024570;
    color: white;
    /* padding-top: 15%; */
    padding-bottom: 2%  ;
}